In [1]:
import numpy as np
import pandas as pd
from utils import dictionaries

In [2]:
filename="../data/Eurostat Enterprise Stats Latest (inc.2023) (1).xlsx"

In [3]:
sheets=pd.ExcelFile(path_or_buffer=filename).sheet_names

In [4]:
def sheet_finder(sheet:str,filepath:str,n=8)->None:
    df=pd.read_excel(
        io=filepath,
        sheet_name=sheet,
        nrows=n
    )
    try:
        if ("Sheet" in sheet) and ("Enterprises - number" in df["Unnamed: 2"].values) and ("Total" not in df["Unnamed: 2"].values):
            return True
        else:
            return False
    except:
        return False

In [5]:
def sheet_reader(sheet:str,filepath:str)->None:
    df=pd.read_excel(
        io=filepath,
        sheet_name=sheet
    )
    segment=df.iloc[6]["Unnamed: 2"]
    columns=df.iloc[8].dropna()
    columns=["country"]+list(columns[columns!="TIME"].values)
    
    df=df.iloc[11:46].dropna(axis=1)
    df.columns=columns
    df["segment"]=segment
    df=df.apply(lambda col: col.replace(":",np.nan),axis=1)
    return df

In [6]:
sheet_flags=[]
for sheet in sheets:
    sheet_flags.append(sheet_finder(sheet=sheet,filepath=filename))

In [7]:
dfs=[]
for sheet,annotation in zip(sheets,sheet_flags):
    if annotation:
        dfs.append(sheet_reader(sheet=sheet,filepath=filename))

In [8]:
eurostat_data=pd.concat(dfs,axis=0)

In [9]:
eurostat_data["s_level_segment"]=eurostat_data["segment"].apply(
    lambda segment: dictionaries["eurostat_segments"].get(segment)
)

In [10]:
eurostat_data=(
    eurostat_data
    .groupby(by=["country","s_level_segment"])
    [["2021","2022","2023"]]
    .sum()
    .reset_index()
)

In [25]:
segment_pairs=[
    ("S5-S6","s5"),
    ("S5-S6","s6"),
    ("S7+","s7"),
    ("S7+","s8"),
    ("S7+","s9"),
    ("S7+","s10")
]

In [43]:
def map_eu_segments(
        df_to_map:pd.DataFrame,
        segment_pairs:list
    )->pd.DataFrame:
    dividable_segments=[segment[0] for segment in segment_pairs]
    cols_to_scale=["2021","2022","2023"]
    subdfs=[df_to_map[~df_to_map["s_level_segment"].isin(dividable_segments)]]
    for from_segment,to_segment in segment_pairs:
        subdf=df_to_map[df_to_map["s_level_segment"]==from_segment].copy(deep=True)
        subdf[cols_to_scale]=subdf[cols_to_scale]*dictionaries["segment_ratios"][to_segment]
        subdf["s_level_segment"]=to_segment
        subdfs.append(subdf)
    return pd.concat(subdfs)

In [48]:
non_eu=pd.read_excel(
    io="../data/Data Landscaping Master (Draft) - PQ WIP.xlsx",
    sheet_name="Non-Eurostat Hardcoded",
    skiprows=6
)

In [50]:
non_eu["s_level_segment"]=non_eu["Size class"].apply(
    lambda segment: dictionaries["eurostat_segments"].get(segment)
)
non_eu=non_eu.drop(columns=["Size class"])

In [55]:
non_eu=(
    non_eu
    .groupby(by=["Country","s_level_segment"])
    [["2021","2022","2023"]]
    .sum()
    .reset_index()
)

In [56]:
map_eu_segments(
    df_to_map=non_eu,
    segment_pairs=segment_pairs
)

           Country s_level_segment          2021          2022          2023
0          Albania           S1-S3  9.702200e+04  1.061320e+05  1.160974e+05
1          Albania              S4  5.608000e+03  5.841000e+03  6.084400e+03
4     South Africa           S1-S3  1.780960e+05  1.798770e+05  1.816757e+05
5     South Africa              S4  6.917700e+04  6.986877e+04  7.056746e+04
8           Turkey           S1-S3  3.250625e+06  3.428611e+06  3.493503e+06
9           Turkey              S4  2.698170e+05  2.973170e+05  1.918050e+05
12  United Kingdom           S1-S3  2.480140e+06  2.476210e+06  2.428885e+06
13  United Kingdom              S4  2.328150e+05  2.390950e+05  2.442400e+05
2          Albania              s5  4.527628e+02  4.819138e+02  5.129417e+02
6     South Africa              s5  6.483327e+03  6.548160e+03  6.613642e+03
10          Turkey              s5  1.746218e+04  1.746218e+04  1.193198e+04
14  United Kingdom              s5  1.537069e+04  1.543157e+04  1.579135e+04
2          Albania              s6  7.742372e+02  8.240862e+02  8.771447e+02
6     South Africa              s6  1.108667e+04  1.119754e+04  1.130951e+04
10          Turkey              s6  2.986082e+04  2.986082e+04  2.040402e+04
14  United Kingdom              s6  2.628431e+04  2.638843e+04  2.700365e+04
3          Albania              s7  6.920875e+01  7.199301e+01  7.488928e+01
7     South Africa              s7  2.303776e+03  2.326814e+03  2.350082e+03
11          Turkey              s7  4.440895e+03  4.459589e+03  2.400828e+03
15  United Kingdom              s7  4.192300e+03  4.206222e+03  4.339468e+03
3          Albania              s8  4.626253e+01  4.812367e+01  5.005968e+01
7     South Africa              s8  1.539957e+03  1.555357e+03  1.570911e+03
11          Turkey              s8  2.968513e+03  2.981009e+03  1.604831e+03
15  United Kingdom              s8  2.802340e+03  2.811645e+03  2.900714e+03
3          Albania              s9  3.753874e+01  3.904892e+01  4.061985e+01
7     South Africa              s9  1.249565e+03  1.262061e+03  1.274682e+03
11          Turkey              s9  2.408736e+03  2.418876e+03  1.302206e+03
15  United Kingdom              s9  2.273899e+03  2.281449e+03  2.353722e+03
3          Albania             s10  2.098997e+01  2.183440e+01  2.271279e+01
7     South Africa             s10  6.987007e+02  7.056877e+02  7.127446e+02
11          Turkey             s10  1.346857e+03  1.352526e+03  7.281349e+02
15  United Kingdom             s10  1.271462e+03  1.275684e+03  1.316095e+03

In [57]:
map_eu_segments(
    df_to_map=eurostat_data,
    segment_pairs=segment_pairs
)

         country s_level_segment           2021           2022           2023
0        Albania           S1-S3   97022.000000  106132.000000       0.000000
1        Albania              S4    5608.000000    5841.000000       0.000000
4        Austria           S1-S3  543530.000000  535128.000000  532211.000000
5        Austria              S4   38752.000000   40986.000000   40804.000000
8        Belgium           S1-S3  808796.000000  853531.000000  841675.000000
..           ...             ...            ...            ...            ...
123     Slovakia             s10      77.928289      79.013978      80.340930
127     Slovenia             s10      32.450015      33.656336      33.656336
131        Spain             s10     525.231846     564.195990     571.675176
135       Sweden             s10     204.230022     190.116075     199.766637
139  Switzerland             s10       0.000000     162.973868     171.418110

[280 rows x 5 columns]